/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-bottom: 50px;
  font-family: 'Open Sans', sans-serif;
  color: #1a1a1a;
  font-size: 18px;
}

h1 {
  font-weight: 800;
  font-size: 100px;
  color: white;
}

h2 {
  font-weight: 600;
  font-size: 18px;
  color: white;
  line-height: 0px;
}

h3 {
  font-weight: 800;
  font-size: 42px;
  color: white;
}


h4 {
  font-weight: 600;
  font-size: 18px;
  color: white;
}

h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #1a1a1a;
}

h6 {
  font-weight: 300;
  font-size: 12px;
  color: white;
  line-height: 30px;
}

.paddedtop {
  padding-top: 150px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.featuresimg {
  max-width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.features {
  text-align: center;
}

.butt {
  margin-left: 60px;
}

.centeredimg {
  margin-left: auto;
  margin-right: auto;
}

video {
  max-width: 100%;
  height: auto;
  display: block;
}

.row {
    margin-top: 100px;
}

.quotation {
  font-size: 100px;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section1 {
  background: black;
  padding-top: 350px;
  padding-bottom: 150px;
}

.section2 {
  background:  #b3ccff;
  padding-top: 0px;
  padding-bottom: 100px;
}

.section3 {
  background: white;
  padding-top: 0px;
  padding-bottom: 100px;
}

.section4 {
  background:  #262626;
  padding-top: 60px;
  padding-bottom: 110px;
}

.section5 {
  background:  #808080;
  padding-top: 80px;
  padding-bottom: 100px;
}

.section6 {
  background: #e6eeff;
}

.section7 {
  background:  #4b6abd;
  padding-top: 0px;
  padding-bottom: 100px;
}

.quote {
  font-size: 50px;
}

.icon {
  font-size: 140px;
  color: white;
  line-height: 0px;
}

.sm {
  font-size: 30px;
  /*color: #808080;*/
  color: white;
}

.sm:hover {
  /*color: red;*/
  text-decoration: none;
  border-bottom: none;
}

.navbar-inverse .navbar-nav>.active>a {
    color: #fff;
    background: rgba(0,0,0,0);
}



.navbar-inverse {
    background: rgba(0,0,0,0.5);
    color: #fff;
    border: none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background: rgba(0,0,0,0);
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #4b6abd;
    background-color: transparent;
      -o-transition:.9s;
  -ms-transition:.9s;
  -moz-transition:.9s;
  -webkit-transition:.9s;
  transition:.9s;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    background: rgba(0,0,0,0);
}

.navbar-inverse:hover {
  background: rgba(0,0,0,0.9);
  -o-transition:.9s;
  -ms-transition:.9s;
  -moz-transition:.9s;
  -webkit-transition:.9s;
  transition:.9s;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.bg {
  background: url('../images/banner.JPG') no-repeat center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  margin-bottom: 0px;
  padding-top: 400 px;
  height:650px;
  color: white;
  background:transparent;
}

.contact-section__col {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.contact-section__col {
    float: left;
    width: 100%;
}

@media (min-width: 992px) {
.contact-section__col--half {
    float: left;
    width: 50%;
}
}

.contact-section__col--half {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

/*@media (min-width: 768px) {
.section, .about-section, .projects-section, .project-section, .contact-section {
    padding: 20px 70px 0 70px;
}
}*/

.alert {
    display: none;
    position: fixed;
    top: 80px;
    left: 0;
    width: 80%;
    left: 10%;
    text-align: center;
}

.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.contact-section .contact-form .form-control {
    border-radius: 0;
    box-shadow: none !important;
}

textarea.form-control {
    height: auto;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

textarea {
    overflow: auto;
}

.contact-section .contact-form .form-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0 !important;
    width: 100%;
    background: none;
    border-radius: 0;
    color: rgba(255,255,255,0.5);
    border: 1px solid rgba(255,255,255,0.5);
}